* {
  box-sizing: border-box;
}

.container {
  border-style: solid;
  border-color: rgb(42, 176, 160);
  border-width: 6px;
  overflow: hidden;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

.gray {
  background-color: rgb(145, 145, 145);
  color: rgb(139, 79, 167);
  float: left;
  margin-right: 10px;
}

.empty {
  margin: 20px;
  width: 20px;
}

.lemon {
  background-color: rgb(129, 173, 223);
  border-style: solid;
  border-color: rgb(125, 207, 247);
  margin: 20px;
}

.note {
  background-color: rgb(222, 222, 222);
  border-style: solid;
  border-color: rgb(176, 176, 176);
}

.pork {
  border-style: solid;
  border-color: purple;
  margin-left: 100px;
}

.abc {
  border-bottom: solid;
  border-color: purple;

}
